In [5]:
x = 10
y = 100
z = 10+y

z

110

In [3]:
x,y,z

(10, 10, 30)

In [6]:
print(x+y+z)

220

In [8]:
a = 'rasidul '
b = 'hoque'

c = a + b
c

'rasidul hoque'

In [9]:
print(type(c))

<class 'str'>

In [10]:
name = 'rasidul'

print('my name is: ' + name)

my name is: rasidul

In [11]:
print('my name is: {}'.format('erik'))

my name is: erik

In [15]:
print('hello')
print('-'*50)
print('hello\n'*50)

hello
--------------------------------------------------
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [18]:
massage = 'im a boy whose name is rasidul hoque '
print('rashidul'not in massage)

True

In [19]:
a = 'concrete-10cm'
b = 'concrete-20cm'

print(a==b)
print(a!=b)

False
True

In [21]:
a = 20
b = 3

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a ** b =", a ** b)
print("a % b =", a % b)

a + b = 23
a - b = 17
a * b = 60
a / b = 6.666666666666667
a // b = 6
a ** b = 8000
a % b = 2

In [22]:
num = 10
is_even = num%2 == 0
is_odd = num %2 !=0

print(is_even)
print(is_odd)

True
False

In [24]:
print(' a > b =', a > b)
print(' a < b =', a < b)
print(' a >= b =', a >= b)
print(' a <= b =', a <= b)
print(' a == b =', a == b)
print(' a != b =', a != b)

 a > b = True
 a < b = False
 a >= b = True
 a <= b = False
 a == b = False
 a != b = True

In [25]:
mats1 = ['rasidl', 'sami', 'tanmoy']
mats2 = ['fahmid', 'rudro']

mats3 = mats1 + mats2
print(mats3)

['rasidl', 'sami', 'tanmoy', 'fahmid', 'rudro']

In [26]:
print(mats1*10)

['rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy', 'rasidl', 'sami', 'tanmoy']

In [27]:
print(mats1 == mats2)

False

In [ ]:
# friends = 0

# friends = friends + 1


friends

1

In [6]:
friends = friends * 3
friends

243

In [7]:
friends = friends / 2
friends

121.5

In [8]:
friends = friends / 3
friends

40.5

In [10]:
remainder = friends % 2
friends

40.5

In [15]:
x = 3.14
y = 4
z = 5
 
# result = round(x)
# result = abs(y)
# result = pow(4,3)
result = max(x,y,z)


result

5

In [19]:
import math
x = 9.1
# print(math.pi)
# print(math.e)
# result = math.sqrt(x)
result = math.ceil(x)
result = math.floor(x)

result

9

In [21]:
import math 

radius = input("enter the radius of a circle: ")

result2 = 2 * math.pi * radius
print(f"the result2 is: {result}")

TypeError: can't multiply sequence by non-int of type 'float'

In [23]:
a = float(input("enter side A: "))
b = float(input("enter side B: "))

c = math.sqrt(pow(a,2) + pow(b,2))
print(c)

22.360679774997898

logical_operators

In [3]:
temp = 78
is_raining = False

if temp > 35 or temp < 0  or is_raining:
    print("The outdoor event is cancelled")

else:
    print("The outdoor event is not cancelled")

The outdoor event is cancelled

In [7]:
temp = 50
is_sunny = True

if temp >= 28 and is_sunny:
    print("it is HOT outside ")
    print("it is sunny")

it is HOT outside
it is sunny