In [2]:
text = 'rasidul hoque'
text

'rasidul hoque'

In [3]:
text2 = 'khduigdfuigughjcvg u8dy dufy'
text2

'khduigdfuigughjcvg u8dy dufy'

In [4]:

# list = |        | Mutable | Ordered | collection |
# Tuple = |        | iMmutable | Ordered | collection |
# list = | unique  | Mutable | UnOrdered | collection |
# dict = | mapped  | Mutable | Ordered* | collection |

In [14]:
empty_list = []

my_list = ['wall', 'floor', 'roof', 'ulala', 'rash', 'chowdhury', 'kulukulu']
print(my_list)

['wall', 'floor', 'roof', 'ulala', 'rash', 'chowdhury', 'kulukulu']

In [19]:
print(my_list[2])
print(my_list[5])
print(my_list[-1][2])
# print(my_list[100])

roof
chowdhury
l

In [23]:
# print(my_list[:2])
# print(my_list[2:])
# print(my_list[1:2])
# print(my_list[1:3])
print(my_list[::2])
print(my_list[1:3:2])

['wall', 'roof', 'rash', 'kulukulu']
['floor']

In [25]:
my_list = ('wall', 'floor', 'roof', 'rash')

print('wall' in my_list)
print('door' in my_list)

True
False

In [26]:
my_list = ('wall', 'floor', 'roof', 'rash')
print(len(my_list))

4

In [27]:
print(sorted(my_list))

['floor', 'rash', 'roof', 'wall']

In [29]:
num = [10, 20, 40,36, 87, 14, 58]

print(sorted(num))

[10, 14, 20, 36, 40, 58, 87]

In [32]:
print(sum(num))
print(min(num))
print(max(num))

265
10
87

In [38]:
my_list.append('door')
my_list.append('window')


print(my_list)

['table', 'chair', 'door', 'door', 'window']

In [39]:
my_list = ('table', 'chair')
my_list = list(my_list)  # convert tuple to list
my_list.append('door')
print(my_list)

['table', 'chair', 'door']

In [41]:
my_list += ['door', 'window']
print(my_list)

['table', 'chair', 'door', 'door', 'window', 'door', 'window']

In [42]:
my_list.sort()
print(my_list)

['chair', 'door', 'door', 'door', 'table', 'window', 'window']

In [43]:
my_list.count('door')

print(my_list)

['chair', 'door', 'door', 'door', 'table', 'window', 'window']

In [44]:
print(my_list.count('door'))

3

In [45]:
my_list.insert(2,'rasidul')
print(my_list)

['chair', 'door', 'rasidul', 'door', 'door', 'table', 'window', 'window']

In [52]:
my_list.remove('door')
my_list.remove('table')
print(my_list)

ValueError: list.remove(x): x not in list

In [53]:
print(my_list)

['chair', 'rasidul', 'table', 'window', 'window']

In [54]:
my_list.pop()
print(my_list)

['chair', 'rasidul', 'table', 'window']

In [55]:
my_list.pop()
print(my_list)

['chair', 'rasidul', 'table']

In [56]:
item = my_list.pop(2)

print(my_list)

['chair', 'rasidul']

In [57]:
my_list = ('wall', 'floor', 'roof', 'rash')
print(my_list)

('wall', 'floor', 'roof', 'rash')

In [58]:
my_list.reverse()
print(my_list)

AttributeError: 'tuple' object has no attribute 'reverse'

In [59]:
print(my_list[::-1])

('rash', 'roof', 'floor', 'wall')

In [60]:
my_list.clear()
print(my_list)

AttributeError: 'tuple' object has no attribute 'clear'

In [61]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)
# Output: []

[]

In [63]:
my_list = ('wall', 'floor', 'roof', 'rash')
x = my_list
y = my_list.copy()
print(y)

AttributeError: 'tuple' object has no attribute 'copy'

In [64]:
my_list = ('wall', 'floor', 'roof', 'rash')

y = my_list
print(y)

('wall', 'floor', 'roof', 'rash')

In [66]:
my_list = ('wall', 'floor', 'roof', 'rash')

my_list[2]
print(my_list[2])

roof

In [68]:
points = [
    [0,0,0],
    [2,2,0],
    [4,4,0],
    [6,6,0],
]

points

[[0, 0, 0], [2, 2, 0], [4, 4, 0], [6, 6, 0]]

In [71]:
pt2 = points[1]
print(points[1][2])
print(pt2[0], pt2[1], pt2[2])

0
2 2 0

In [73]:
my_list = ('wall', 'floor', 'roof', 'rash')

for i in my_list:
    print(i)
    print(i)

wall
wall
floor
floor
roof
roof
rash
rash

In [74]:
empty_tuple = ()

list_data = [0,1,2,3,4,5,6,7,8,9,4,3,2,1]
data = (0,1,2,3,4,55,6,7,5,3,2)

data_pts = ((0,1,2,3), (1,2,3,4), (3,4,5,6))

print(list_data)
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 3, 2, 1]
(0, 1, 2, 3, 4, 55, 6, 7, 5, 3, 2)

In [75]:
print(data[0])
print(data[2])
print(data_pts[2])

0
2
(3, 4, 5, 6)

In [77]:
print(len(data))
print(min(data))
print(max(data))

print(sum(data))
print(sorted(data))

print(tuple(sorted(data)))

11
0
55
88
[0, 1, 2, 2, 3, 3, 4, 5, 6, 7, 55]
(0, 1, 2, 2, 3, 3, 4, 5, 6, 7, 55)

In [78]:
data = (0,1,2,3,4,55,6,7,5,3,2)

In [79]:
print(data.count(4))
print(data.index(5))

1
8

In [ ]:
empyty_set = set()
set_items = {10,20,30,40,'ab', 'bc', 'ca', True, True,False}
set_items

{10, 20, 30, 40, False, True, 'ab', 'bc', 'ca'}

In [81]:
list_data  = [1,2,3,4,5,6,6,7]
set_data = set(list_data)
unique_list_data = list(set_data)


print(list_data)
print(set_data)
print(unique_list_data)

[1, 2, 3, 4, 5, 6, 6, 7]
{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [83]:
items = {10,20,30,40,'ab', 'bc', 'ca', True, True,False}

items.clear()
print(items)

set()

In [90]:
a = {3,4}
b = {3,4,6,7,8}


print(a.union(b))
print(a.intersection(b))

print(a.difference(b))
print(a.symmetric_difference(b))
print(a.issubset(b))
print(a.issuperset(b))

print(a.difference_update(b))

{3, 4, 6, 7, 8}
{3, 4}
set()
{6, 7, 8}
True
False
None

In [91]:
empty_dict = {}

dict_example = {
    'key' : 'value',
    'key2' : 'value2'
}
dict_example

{'key': 'value', 'key2': 'value2'}

In [93]:

x = 50  # int
x = 60.5  # float
x = "Hello World"  # string
x = ["geeks", "for", "geeks"]  # list 
x = ("geeks", "for", "geeks")  # tuple

x

('geeks', 'for', 'geeks')

In [94]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [95]:
s = 'Welcome to the Geeks World'
print(s)

# check data type 
print(type(s))

# access string with index
print(s[1])
print(s[2])
print(s[-1])

Welcome to the Geeks World
<class 'str'>
e
l
d

In [96]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed values int and String
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]

In [97]:
a = ["Geeks", "For", "Geeks"]
print("Accessing element from the list")
print(a[0])
print(a[2])

print("Accessing element using negative indexing")
print(a[-1])
print(a[-3])

Accessing element from the list
Geeks
Geeks
Accessing element using negative indexing
Geeks
Geeks

In [98]:
tup1 = (1, 2, 3, 4, 5)

# access tuple items
print(tup1[0])
print(tup1[-1])
print(tup1[-3])

1
5
3

In [99]:
# initialize empty dictionary
d = {}

d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [100]:
d = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Accessing an element using key
print(d['name'])

# Accessing a element using get
print(d.get(3))

For
Geeks

In [103]:
age = 21
print('age =',age)

age = 21

In [104]:
print(type(age))

<class 'int'>

In [105]:
# int() on string representation of numbers
print("int('9')) =", int('9'))

# int() on float values
print("int(9.9) =", int(9.9))

# int() on Python integer
print("int(9) =", int(9))

int('9')) = 9
int(9.9) = 9
int(9) = 9

In [106]:
class Number:
    value = 7
    
    def __int__(self):
        return self.value

data = Number()
print("number =", int(data))

number = 7

In [107]:
a = 10.5  # Float declaration
b = -3.14 # Negative float
c = 2.0   # Even if it looks like an integer, it's a float
d = 1.23e4  # Scientific notation (1.23 × 10⁴ = 12300.0)
e = 5e-3   # Scientific notation (5 × 10⁻³ = 0.005)
print(a,b,c,d,e)

10.5 -3.14 2.0 12300.0 0.005

In [108]:
f = 5.5
print(f.conjugate())

5.5

In [109]:
a = 5.5
b = 2.2
print(a.__add__(b))  
print(a + b)

7.7
7.7

In [111]:
s = """ i am learning python 
string on gfg """

print(s)

 i am learning python
string on gfg

In [113]:
s = "rasidul hoque chowdhury"

print(s[0])
print(s[1])

r
a

In [115]:
s = "rasidul hoque chowdhury"

print(s[-11])

e

In [116]:
s = "rasidul hoque chowdhury"

print(s[1:4])
print(s[:4])
print(s[:3])
print(s[::-1])

#print(s[1:4])

asi
rasi
ras
yruhdwohc euqoh ludisar

In [117]:
s = "rasidul hoque chowdhury"

for char in s:
    print(char)

r
a
s
i
d
u
l

h
o
q
u
e

c
h
o
w
d
h
u
r
y

In [118]:
s = "rasidul hoque chowdhury"

s = "R" + s[1:]
print(s)

Rasidul hoque chowdhury

In [119]:
s = "GeeksforGeeks"
print(len(s))

13

In [120]:
s = "Hello World"
print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [121]:
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 22