In [ ]:
country = 'ban' 
def display():
    name = "rash"
    print(name)
    print(country)

display()

rash
ban

In [ ]:
a = 5
b = 10
sum = a+b
print(sum)

15

In [ ]:
def calc_sum(a,b):
    sum = a+b
    print(sum)
 

calc_sum(2,10)
calc_sum(30,40)
calc_sum(5,19)

12
70
24

In [ ]:
def calc_sum(a,b):
    return a+b

sum = calc_sum(157,398)
print(sum)

555

In [ ]:
def print_rash():
    print("rash")
    
print_rash()

rash

In [ ]:
def calc_sum(a,b,c):
    sum = a+b+c
    avg = sum / 3
    print(avg)
    
    #return avg
    
calc_sum(1,4,8)

4.333333333333333

In [ ]:
print("therash", "chowdhury")

therash chowdhury

**FUNCTION IN PYTHON**

Built_in_Function:

print()
len()
type()
range()

In [ ]:
cities = ["dhaka", "sylhet", "ctg", "barishal", "sreemangal"]
we = ["rash", "sami", "fahmida", "musrat"]

# print(cities[0], end=" ")
# print(cities[1], end=" \n")

def print_len(list):
    print(len(list))
    
    
# print_len(cities)
# print_len(we)

def print_len(list):
    for item in list:
        print(item, end= " ")
        
print_list(cities)

NameError: name 'print_list' is not defined

In [ ]:
n = 6
fact = 1
for i in range(1,n+1):
    fact *= i
    print(fact)

1
2
6
24
120
720

In [ ]:

def cal_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print(fact)

cal_fact(3)

6

In [ ]:
def convert (used_val):