function Definition

In [48]:
def dept():
    print(2+3)
    print("Rasidul Hoque Chowdhury")

function call

In [49]:
dept()

5
Rasidul Hoque Chowdhury

parameters

In [50]:
def dept_name(name):
    print(f' Department name is {name} ')

In [51]:
dept_name("CSE")

 Department name is CSE

return statement

In [52]:
def name():
    print("Rasidul")
    return "Rasidul Hoque Chowdhury"

In [53]:
name()

Rasidul

'Rasidul Hoque Chowdhury'

In [54]:
def add_num():
    a = 10
    b = 20
    result = a+b
    return result

In [55]:
add_num

In [56]:
def add(a, b):
    return a + b
add(5, 10)
add(15, 25)
add(100, 200)

300

In [57]:
add(50, 70)

120

In [58]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())   
    
    return x1, x2

In [59]:
user_input()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())   
    
    return x1, x2, y1, y2
user_input()

(10, 20, 30, 40)

In [ ]:
def user_input():
    x1 = int(input())
    x2 = int(input())
    y1 = int(input())
    y2 = int(input())   
    
    return (x1, x2), (y1, y2)
user_input()

((1, 2), (3, 4))

In [ ]:
r1 , r2 = user_input()

In [ ]:
r1

(1, 2)

In [ ]:
r2

(3, 4)

In [ ]:
def sq_cube(n):
    square = n ** 2
    cube = n ** 3
    return square, cube
    
sq_cube(3)

(9, 27)

In [ ]:
sq_cube(5)

(25, 125)

In [ ]:
def mulp():
    x = int(input())
    y = int(input())
    result = x * y
    print('result = ', result)
    return result
def mulp2():
    
    total1 = mulp()
    z = int(input('z = '))
    total2 = total1 * z
    print('final result = ', total2)

In [ ]:
mulp2()

result =  2
final result =  6

In [ ]:
def add_num(x,y):
    
    add_num()

In [ ]:
def add_num(x,y):
    result = x+y
    return result
add_num(100,300)

400

In [ ]:
def add_num(x,y):
    print(x)
add_num(100,300)

100

1. positional arguments
2. keyword arguments
3. default arguments
4. variable arguments

positional arguments

In [ ]:
def add_num(x,y):
    result =  x+y
    return result

add_num(10,30)

40

keyword arguments

In [ ]:
def personal(job, income):
    print(job)
    print(income)
personal('data science', 2000)

data science
2000

default arguments

In [ ]:
def info(name, age):
    print("Name:", name)
    print("Age:", age)

info(age=22, name="Rafi")

Name: Rafi
Age: 22

In [64]:
def greet(name="Guest"):
    print("Hello,", name)

greet("Rafi")   # আর্গুমেন্ট পাঠানো হয়েছে
greet()         # পাঠানো হয়নি, তাই "Guest" ব্যবহার হবে

Hello, Rafi
Hello, Guest

variable length arguments

In [63]:
def add_num(*x):
    print(x)
    result = sum(x)
    return result
    
add_num(10,20,1000,2000)

(10, 20, 1000, 2000)

3030

In [68]:
def personal_data(NAME, **arg):
    print(NAME)
    print(arg)
personal_data('rasdul hoque', uni =  'lu', city = 'syl')

rasdul hoque
{'uni': 'lu', 'city': 'syl'}