In [3]:
a = [1, 2, 3, 4, 5] # List of integers
b = ['apple', 'banana', 'cherry'] # List of strings
c = [1, 'hello', 3.14, True] # Mixed data types

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [4]:
a = list((1,2,3, 'rash', 4.5))
print(a)

[1, 2, 3, 'rash', 4.5]

In [5]:
b = list("rasidul")
b

['r', 'a', 's', 'i', 'd', 'u', 'l']

In [6]:
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [7]:
a = [10, 20, 30, 40, 50]
print(a[0])    
print(a[-1])
print(a[1:4])   # elements from index 1 to 3

10
50
[20, 30, 40]

In [8]:
a = [2,3,4,5,6]
a.append(8)
a

[2, 3, 4, 5, 6, 8]

In [9]:
a = [1, 'rash', 3.12]
a.append(True)
a

[1, 'rash', 3.12, True]

In [10]:
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [11]:
a = [1,2,2,3,4,5,5,6]
a

[1, 2, 2, 3, 4, 5, 5, 6]

In [12]:
a = [1, 2, 3]
b = [4, 5]

# Using extend() to add elements of b to a
a.extend(b)

print(a)

[1, 2, 3, 4, 5]

In [13]:
# Using a tuple
a = [1, 2, 3]
b = (4, 5)
a.extend(b)
print(a) 

# Using a set
a = [1, 2, 3]
b = {4, 5}
a.extend(b)
print(a)  

# Using a string
a = ['a', 'b']
b = "cd"
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [14]:
fruit = ['kola', 'lichu', 'aam']
fruit.insert(1,'apple')
fruit

['kola', 'apple', 'lichu', 'aam']

In [15]:
# making a list
score = [43,45,99,76]
#inserting a new score at third position
score.insert(2, 45)
#printing new list
print(score)

[43, 45, 45, 99, 76]

In [16]:
list1 = [ 1, 2, 3, 4, 5, 6 ]

# tuple of numbers
num_tuple = 4, 5, 6

# inserting a tuple to the list
list1.insert(2, num_tuple)

print(list1)

[1, 2, (4, 5, 6), 3, 4, 5, 6]

In [17]:
my_list = [{'name': 'Alice', 'age': 30}, 
           {'name': 'Bob', 'age': 25}]
new_dict = {'name': 'Charlie', 'age': 40}

my_list.append(new_dict)

print(my_list)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 40}]

In [18]:
a = [1, 2, 3]

# Clear all elements from the list 'a'
a.clear()
print(a)

[]

In [19]:
a = [10, 20, 30]

# Clear all elements from the list 'a'
a.clear()
a.append(40)
print(a)

[40]

In [20]:
a = []

a.append(10)  
print("After append(10):", a)  

a.insert(0, 5)
print("After insert(0, 5):", a) 

a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a) 

a.clear()
print("After clear():", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
After clear(): []

List Comprehension in Python

In [21]:
a = [2,3,4,5]
res = [val ** 2 for val in a]
print(res)

[4, 9, 16, 25]

In [22]:
a = [2,3,4,5]
res = [val ** 2 for val in a]
print(res)

[4, 9, 16, 25]

In [23]:
a = [1, 2, 3, 4, 5]
res = [val * 2 for val in a]
print(res)

[2, 4, 6, 8, 10]

In [24]:
a = [1, 2, 3, 4, 5]
res = [val for val in a if val % 2 == 0]
print(res)

[2, 4]

In [25]:
name = ["rash", "limon", "riam", "roky" ]
name

['rash', 'limon', 'riam', 'roky']

In [26]:
print(name[0])

rash

In [27]:
print(name[0:3])

['rash', 'limon', 'riam']

In [28]:

print(name[::-1])

['roky', 'riam', 'limon', 'rash']

In [29]:
name = ["rash", "limon", "riam", "roky" ]
for name in name:
    print(name)

rash
limon
riam
roky

In [30]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [31]:
print(len(name))

4

In [32]:
print("rash" in name)

False

In [33]:
name = ["rash", "limon", "riam", "roky" ]
# name.append("lubaba")
# name.remove("rash")
# name.insert(0, "lichuu")
# name.sort()
# name.reverse()
# name.clear()
print(name.index("limon"))

name

1

['rash', 'limon', 'riam', 'roky']

In [34]:
print