In [1]:
a = [1, 2, 3, 4, 5] # List of integers
b = ['apple', 'banana', 'cherry'] # List of strings
c = [1, 'hello', 3.14, True] # Mixed data types

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [2]:
a = list((1,2,3, 'rash', 4.5))
print(a)

[1, 2, 3, 'rash', 4.5]

In [3]:
b = list("rasidul")
b

['r', 'a', 's', 'i', 'd', 'u', 'l']

In [4]:
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [5]:
a = [10, 20, 30, 40, 50]
print(a[0])    
print(a[-1])
print(a[1:4])   # elements from index 1 to 3

10
50
[20, 30, 40]

In [6]:
a = [2,3,4,5,6]
a.append(8)
a

[2, 3, 4, 5, 6, 8]

In [7]:
a = [1, 'rash', 3.12]
a.append(True)
a

[1, 'rash', 3.12, True]

In [8]:
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [9]:
a = [1,2,2,3,4,5,5,6]
a

[1, 2, 2, 3, 4, 5, 5, 6]

In [10]:
a = [1, 2, 3]
b = [4, 5]

# Using extend() to add elements of b to a
a.extend(b)

print(a)

[1, 2, 3, 4, 5]

In [11]:
# Using a tuple
a = [1, 2, 3]
b = (4, 5)
a.extend(b)
print(a) 

# Using a set
a = [1, 2, 3]
b = {4, 5}
a.extend(b)
print(a)  

# Using a string
a = ['a', 'b']
b = "cd"
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [12]:
fruit = ['kola', 'lichu', 'aam']
fruit.insert(1,'apple')
fruit

['kola', 'apple', 'lichu', 'aam']

In [13]:
# making a list
score = [43,45,99,76]
#inserting a new score at third position
score.insert(2, 45)
#printing new list
print(score)

[43, 45, 45, 99, 76]

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6 ]

# tuple of numbers
num_tuple = 4, 5, 6

# inserting a tuple to the list
list1.insert(2, num_tuple)

print(list1)

SyntaxError: invalid syntax (3312832347.py, line 7)

In [18]:
my_list = [{'name': 'Alice', 'age': 30}, 
           {'name': 'Bob', 'age': 25}]
new_dict = {'name': 'Charlie', 'age': 40}

my_list.append(new_dict)

print(my_list)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 40}]

In [19]:
a = [1, 2, 3]

# Clear all elements from the list 'a'
a.clear()
print(a)

[]

In [20]:
a = [10, 20, 30]

# Clear all elements from the list 'a'
a.clear()
a.append(40)
print(a)

[40]

In [21]:
a = []

a.append(10)  
print("After append(10):", a)  

a.insert(0, 5)
print("After insert(0, 5):", a) 

a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a) 

a.clear()
print("After clear():", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
After clear(): []

List Comprehension in Python

In [22]:
a = [2,3,4,5]
res = [val ** 2 for val in a]
print(res)

[4, 9, 16, 25]

In [23]:
a = [2,3,4,5]
res = [val ** 2 for val in a]
print(res)

[4, 9, 16, 25]

In [24]:
a = [1, 2, 3, 4, 5]
res = [val * 2 for val in a]
print(res)

[2, 4, 6, 8, 10]

In [25]:
a = [1, 2, 3, 4, 5]
res = [val for val in a if val % 2 == 0]
print(res)

[2, 4]