In [1]:
marks1 = 90.54
marks2 = 89.45
marks3 = 78.65
marks4 = 86.98
marks5 = 69.90
marks = [90.54,89.45,78.65, 86.98,69.90]
print(marks)
print(len(marks))
print(marks[2])

[90.54, 89.45, 78.65, 86.98, 69.9]
5
78.65

In [2]:
student = ["raash", 89.54, 45, "london"]
print(student[0])
student[0] = "chowdhury"
print(student)

raash
['chowdhury', 89.54, 45, 'london']

In [3]:
str = "rasidul"
print(str)

rasidul

In [4]:
marks = [10,20,30,40,50]
print(marks[3:-1])

[40]

In [5]:
list = [2,4,5]
list.append(100)
print(list)

[2, 4, 5, 100]

In [6]:
list = [4,7,9,2,1,0,5,3]
list.sort()
print(list.sort(reverse=True))
print(list)

None
[9, 7, 5, 4, 3, 2, 1, 0]

In [7]:
list = ['a', 'r', 'c', 'i', 'b']
list.sort()
print(list)

['a', 'b', 'c', 'i', 'r']

In [8]:
list = [2,1,4]
list.insert(4,100)
print(list)

[2, 1, 4, 100]

In [9]:
list = [3,6,9,8]
list.remove(3)
print(list)

[6, 9, 8]

**tuple**

In [10]:
tup = (2,4,7,1)
print(type(tup))

<class 'tuple'>

In [11]:
tup = (2,4,7,1)
print(tup[0])
print(tup[1])

2
4

In [12]:
tup = (1,2,3,4)
print(tup.index(3))

2

In [13]:
movies = []
mov1 = input("enter 1st movie")
mov2 = input("enter 2nd movie")
mov3 = input("enter 3rd movie")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)

print(movies)

['', '', '']

In [14]:
list = [1,2,1]

In [15]:
list1 = [1, 2]
list2 = [3, 4]
print(list1 + list2) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [16]:
a = [1, 2, 3, 4, 5] # List of integers
b = ['apple', 'banana', 'cherry'] # List of strings
c = [1, 'hello', 3.14, True] # Mixed data types

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [17]:
a = [2] * 5
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [18]:
a = [10, 20, 30, 40, 50]

a.remove(30)  
print("After remove(30):", a)

popped_val = a.pop(1)  
print("Popped element:", popped_val)
print("After pop(1):", a) 

del a[0]  
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [19]:
a = ['apple', 'banana', 'cherry']
for item in a:
    print(item)

apple
banana
cherry

In [20]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [21]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print (list1[0])
print (list2[1:5])

physics
[2, 3, 4, 5]

In [22]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001