In [1]:
count  = 1
while count <= 10:
    print (" the rasidul ", count)
    count +=1

 the rasidul  1
 the rasidul  2
 the rasidul  3
 the rasidul  4
 the rasidul  5
 the rasidul  6
 the rasidul  7
 the rasidul  8
 the rasidul  9
 the rasidul  10

In [2]:
i = 1
while i <= 10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 1
while i<= 20:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
i = 20
while i >= 1:
    print(i)
    i -=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
n = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{n} x {i} = {n*i}")
    i += 1

ValueError: invalid literal for int() with base 10: ''

In [ ]:
num = [1,4,9,16,25,36,49,64,81,100]

idx = 0
while idx < len(num):
    #print(idx)
    print(num[idx])
    idx +=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
i = 1
while i <=5:
    print(i)
    if (i == 4):
        break
    i +=1
    
print("end")

1
2
3
4
end

In [ ]:
i = 1
while i <=5:
    if (i == 4):
        i +=1
        continue
    print(i)
    i +=1
    
print("end")

1
2
3
5
end

In [ ]:
i = 1
while i <=10:
    if (i %2 != 0):
        i +=1
        continue
    print(i)
    i +=1

2
4
6
8
10

In [ ]:
list = [1,2,3,4,5,6]
for val in list:
    print(val)

1
2
3
4
5
6

In [ ]:
names = ["rash", "sami", "musrat","fahmida" ]
for val in names:
    print(val)

rash
sami
musrat
fahmida

In [ ]:
text = "rasidul hoque"

for char in str:
    if char == 'h':
        print("h found")
        break

for char in text:
    print(char)

h found
r
a
s
i
d
u
l

h
o
q
u
e

In [ ]:
nums = [1,4,9,16,25,36,49,64, 81,100]
x = 49

for el in nums:
    if(el == x):
        print("number found in idx", idx)
        break
    idx += 1

NameError: name 'idx' is not defined

In [ ]:
nums = [1,4,9,16,25,36,49,64,81,100]
x = 49
idx = 0   

for el in nums:
    if el == x:
        print("number found in idx", idx)
        break
    idx += 1

number found in idx 6

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
n = int(input("enter number : "))

for i in range (1,11):
    print( n* i)

8
16
24
32
40
48
56
64
72
80

In [ ]:
n = 10
sum = 0
for i in range(1,n+1):
   sum += i
   
print("total sum: ", sum)

total sum:  55

In [ ]:
n = 5
fact = 1

i = 1
while i <=n:
    fact *= i
    i +=1
    
print(fact)

120

: