In [1]:
subjects = ["'Maths', 'Science', 'History', 'Geography'"]
for x in subjects:
    print(x)

'Maths', 'Science', 'History', 'Geography'

In [2]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
name = 'Rasidul'
name[0]

'R'

In [4]:
for i in name:
    print(i)

R
a
s
i
d
u
l

In [5]:

for x in range(len(name)):
    print(name[x])

R
a
s
i
d
u
l

In [6]:
len(name)

7

In [7]:
for x in range(7):
    print(name[x])

R
a
s
i
d
u
l

In [8]:
name ="Rasidul Hoque chowdhury is a good boy"
name.split()

['Rasidul', 'Hoque', 'chowdhury', 'is', 'a', 'good', 'boy']

In [9]:
name = "Rasidul Hoque chowdhury is a good boy"
name.split()
for i in range(len(name)):
    print(name[i],i)

R 0
a 1
s 2
i 3
d 4
u 5
l 6
  7
H 8
o 9
q 10
u 11
e 12
  13
c 14
h 15
o 16
w 17
d 18
h 19
u 20
r 21
y 22
  23
i 24
s 25
  26
a 27
  28
g 29
o 30
o 31
d 32
  33
b 34
o 35
y 36

In [10]:
name[1]

'a'

In [13]:
n = [1,21,36,41,5,96,7,85,9]
sum = 0
for i in n:
    sum = sum + i
print(sum,i)

301 9

In [14]:
index = 0
while index < len(n):
    print(n[index])
    index = index + 1

1
21
36
41
5
96
7
85
9

In [22]:
num = [1,2,3,4,5,6,7,8,9]
total = 0
index = 0
while index < len(num):
    total = total + num[index]
    # print(index,total)
    index = index + 1
    print(index,total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45