In [4]:
container = [1,2,3,4,5,6,7]
for i in container:
    print(i)

    if i == 2:
        print('number two')

1
2
number two
3
4
5
6
7

In [1]:
list_materials = ['wood', 'steel', 'glass', 'bricks']


for mat in list_materials:
    print(mat)
    print(mat.lower(), mat.upper())

wood
wood WOOD
steel
steel STEEL
glass
glass GLASS
bricks
bricks BRICKS

In [3]:
text = 'rasidul hoque chowdhury'

for char in text:
    lower_char = char.lower()
    upper_char = char.upper()
    
    print(lower_char, '----', upper_char)

r ---- R
a ---- A
s ---- S
i ---- I
d ---- D
u ---- U
l ---- L
  ----
h ---- H
o ---- O
q ---- Q
u ---- U
e ---- E
  ----
c ---- C
h ---- H
o ---- O
w ---- W
d ---- D
h ---- H
u ---- U
r ---- R
y ---- Y

In [ ]:
big_number = 12345678

for str_num in str(big_number):
    print(str_num)

1
2
3
4
5
6
7
8

In [9]:
for i in range(40):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [10]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [14]:
nums = [0, 43, 78,33,3,85,49, 19,30,68]

for n in nums:
    if n%2 == 0 and n!=0:
        print(f'First even numbers: {n}')
        break
        
print('finished')

First even numbers: 78
finished

In [15]:
wallet = [5,20,10,6,40,14]

total = 0

for note in wallet:
    total += note
print(f'total: {total} EUR')

total: 95 EUR

In [17]:
for x in range(5):
    for y in range(5):
        print(x,y)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

while loop

In [ ]:
tickets  = 100

while True:
    n = input('Buy tickets: ')
    n = int(n)
    
    tickets -= n
    print('tickets left: ', tickets)

tickets left:  33
tickets left:  -1
tickets left:  -66
tickets left:  -120
tickets left:  -129
tickets left:  -229

ValueError: invalid literal for int() with base 10: ''

fibonacci prb

In [28]:
a = 0
b = 1

for i in range(10):
    print(a)
     
     
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [3]:
name = input("enter your name:  ")

if name == "":
    print("you did not enter your name ")
else:
    print(f"Hello {name}")

you did not enter your name

In [20]:
name = input("enter your name:  ")

while name == "":
    print("you did not enter your name ")
    name = input("enter your name:  ")
print(f"Hello {name}")

Hello rash

In [22]:
age = int(input("enter your age: "))

while age < 0:
    print("age can't be negative")
    age = int(input("enter your age: "))

print(f"you are {age} years old")

age can't be negative
age can't be negative
you are 2 years old

In [24]:
food = input("enter a food you like (q to quit):")

while not food == 'q':
    print(f"you like {food}")
    food = input("enter another food you like (q to quit):")

print('bye')

you like ramen
you like pizza
you like burger
you like meat
bye

In [26]:
num = int(input('enter a # between 1 - 10: '))

while num < 1 or num > 10:
    print(f"{num} is not valid")
    num = int(input('enter a # between 1 - 10: '))

print(f"your number is {num}")

0 is not valid
121 is not valid
-98 is not valid
498489474 is not valid
your number is 3

for loops

In [ ]:
for x in reversed(range (1,11)):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [28]:
print("this is rash ")

this is rash

In [31]:
for i in range(1,19,2):
    print(i)

1
3
5
7
9
11
13
15
17

In [32]:
credit_card = "1234-567-098-37864"

for x in credit_card:
    print(x)

1
2
3
4
-
5
6
7
-
0
9
8
-
3
7
8
6
4

In [33]:
for x in range(1,20):
    if x == 13:
        continue
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19

In [34]:
for x in range(1,20):
    if x == 13:
        break
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [36]:
n  = int(input(""))

for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
li = ["geeks", "for", "geeks"]
for x in li:
    print(x)
    
tup = ("geeks", "for", "geeks")
for x in tup:
    print(x)
    
s = "abc"
for x in s:
    print(x)
    
d = dict({'x':123, 'y':354})
for x in d:
    print("%s  %d" % (x, d[x]))
    
set1 = {10, 30, 20}
for x in set1:
    print(x),

geeks
for
geeks
geeks
for
geeks
a
b
c
x  123
y  354
10
20
30

In [38]:
s = ["Geeks", "for", "Geeks"]

# using for loop with string
for i in s:
    print(i)

Geeks
for
Geeks

In [39]:
# printing first 6
# whole number
for i in range(6):
    print(i, end=" ")
print()

0 1 2 3 4 5

In [42]:
# printing a natural
# number from 5 to 20
for i in range(5, 20):
    print(i, end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [43]:
for i in range(0, 10, 2):
    print(i, end=" ")
print()

0 2 4 6 8

In [44]:
# Prints all letters except 'e' and 's'

for i in 'geeksforgeeks':

    if i == 'e' or i == 's':
        continue
    print(i)

g
k
f
o
r
g
k

In [45]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [46]:
x = [1,2]
y = [4,5]

for i in x:
    for j in y:
        print(i,j)

1 4
1 5
2 4
2 5

In [47]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
  j = 0
  while j < len(y) :
    print(x[i] , y[j])
    j = j + 1
  i = i + 1

1 4
1 5
2 4
2 5

In [48]:
# Running outer loop from 2 to 3

for i in range(2, 4):

    # Printing inside the outer loop
    # Running inner loop from 1 to 10
    for j in range(1, 11):

        # Printing inside the inner loop
        print(i, "*", j, "=", i*j)
    # Printing inside the outer loop
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [49]:
# Using  list comprehension to make
# nested loop statement in single line.
list1 = [[j for j in range(3)]
         for i in range(5)]
# Printing list1
print(list1)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]