Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable).

Tuples can hold elements of different data types.
The main characteristics of tuples are being ordered, heterogeneous and immutable.

In [ ]:
tup = ()
tup

In [1]:
tup = ('rash', 'hoque')
tup

('rash', 'hoque')

In [2]:
li = [1, 2, 4, 5, 6]
print(tuple(li))

(1, 2, 4, 5, 6)

In [3]:
tup = (5, 'Welcome', 7, 'Geeks')
print(tup)

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

# Creating a Tuple with repetition
tup1 = ('Geeks',) * 3
print(tup1)

# Creating a Tuple with the use of loop
tup = ('Geeks')
n = 5
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(5, 'Welcome', 7, 'Geeks')
((0, 1, 2, 3), ('python', 'geek'))
('Geeks', 'Geeks', 'Geeks')
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

Accessing of Tuples

In [4]:
tup = tuple("Geeks")
print(tup[0])

G

In [5]:
print(tup[1:4])  
print(tup[:3])

('e', 'e', 'k')
('G', 'e', 'e')

In [7]:
tup = ("Geeks", "For", "Geeks")
a, b, c = tup
print(a)
print(b)
print(c)

Geeks
For
Geeks

Concatenation of Tuples

In [8]:
tup1 = (0, 1, 2, 3)
tup2 = ('Geeks', 'For', 'Geeks')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

Tuple Slicing - Python

In [9]:
tup = (0,1,2,3,4,5,6,7,9)
s1 = tup[2:6]
s1

(2, 3, 4, 5)

In [10]:
s2 = tup[:4]
s2

(0, 1, 2, 3)

In [11]:
# Define a tuple
tup = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Slice from the third last to the end
s1 = tup[-3:]
print(s1)  

# Slice from the beginning to the third last
s2 = tup[:-3]
print(s2)  

# Slice from the third last to the second last
s3 = tup[-3:-1]
print(s3)

(7, 8, 9)
(0, 1, 2, 3, 4, 5, 6)
(7, 8)