Basic syntaxt

In [1]:
print ("hello rash")

hello rash

In [2]:
if True:
       print ("True")
else:
   print ("False")

True

Python Variables

In [8]:
counter = 100
miles = 99.43
name = "the raash"

print(counter)
print(miles)
print(name)

100
99.43
the raash

In [9]:
x = "rasidul"
y = 10
z = 98.322798478964

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
x = str(10)    # x will be '10'
y = int(10)    # y will be 10 
z = float(10)  # z will be 10.0

print( "x =", x )
print( "y =", y )
print( "z =", z )

x = 10
y = 10
z = 10.0

In [11]:
age  = 20
Age = 30

print("age =", age)
print("Age =", Age)

age = 20
Age = 30

In [12]:
a = 10
b = 10
c = 10

print(a,b,c)

10 10 10

In [13]:
a = b = c = 100

print(a,b,c)

100 100 100

In [14]:
a,b ,c = 30,50,"ur_rash"

print(a)
print(b)
print(c)

30
50
ur_rash

In [15]:
counter = 100
_count = 100
name1 = "rasidul"
name2 = "nuha"

age = 90
zara_salary = 100000

print (counter)
print (_count)
print (name1)
print (name2)
print (Age)
print (zara_salary)

100
100
rasidul
nuha
30
100000

In [16]:
w = 10
h = 90
area = w * h
print(area)

900

In [17]:
width = 10
height = 20
area = width * height
perimeter = 2*(width+height)
print(area)
print(perimeter)

200
60

In [22]:
def sum(x,y):
    sum = x+y
    return sum
print(sum(40,90))

print(sum(45,3))
print(sum(456,876))

130
48
1332

In [23]:
x = 60
y = 30

def sum():
    sum = x + y
    return sum
print(sum())

90

Data_Types

In [1]:
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
c=20.345
print("The type of variable having value", c, " is ", type(c))

# complex variable.
d=10+3j
print("The type of variable having value", d, " is ", type(d))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

In [2]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [3]:
list = ['abcd', 678,755,'rash', 90.43]
tinylist = [123, 'rash']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd 
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 678, 755, 'rash', 90.43]
abcd
[678, 755]
[755, 'rash', 90.43]
[123, 'rash', 123, 'rash']
['abcd', 678, 755, 'rash', 90.43, 123, 'rash']

In [ ]:
a = 2
b = 4
print(bool(a==b))

# Following also prints the same
print(a==b)

# Returns False as a is None
a = None
print(bool(a))

# Returns false as a is an empty sequence
a = ()
print(bool(a))

# Returns false as a is 0
a = 0.0
print(bool(a))

# Returns false as a is 10
a = 10
print(bool(a))

False
False
False
False
False
True